## Use a non-privileged port
Port 2022
## provide the new path containing these host keys
HostKey /tmp/ssh/ssh_host_rsa_key
HostKey /tmp/ssh/ssh_host_ecdsa_key
HostKey /tmp/ssh/ssh_host_ed25519_key
## Enable DEBUG log. You can ignore this but this may help you debug any issue while enabling SSHD for the first time
LogLevel DEBUG3
ChallengeResponseAuthentication no
UsePAM no
X11Forwarding yes
PrintMotd no
## Provide a path to store PID file which is accessible by normal user for write purpose
PidFile /tmp/sshd.pid
AcceptEnv LANG LC_*
Subsystem       sftp    internal-sftp

# OVerride the Authorized Keys file as OpenShift randomizes users
AuthorizedKeysFile	/opt/ssh/authorized_keys

